.QuickCard {
	margin: 2%;
	padding: 2%;
	font-family: 'Special Elite', cursive;
}

.QuickCard:hover {
	box-shadow: 0 14px 28px rgba(184, 3, 3, 0.664),
		0 10px 10px rgba(0, 0, 0, 0.22);
}
@media only screen and (max-width: 750px) {
	.QuickCard {
		width: auto;
	}
}
