.QuickCard {
	background:  whitesmoke;
	box-shadow:  0 1px 3px rgba(0,0,0,0,0.12), 0 1px 2px rgba(0,0,0,0,0.24);
	transition:  all 0.3s cubic-bezier(.25,.8,.25,1);
	width:  33%;
/* 	display:  inline-block; */
	margin-bottom: 1.5%;
	margin-left: 5%;
	padding:  2%;
	font-family: 'Darker Grotesque', sans-serif;
	display:  auto-fill;


}

.QuickCard:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}