.form-control {
	width: 30%;
	display: inline-block;
}

.success {
	background-color: black;
}

.success:hover {
	background-color: red;
}

.quotes {
	display: flex;
	justify-content: center;
	height: auto;
}
